<mat-toolbar fxLayout = "row">
    <span fxFlex="10%" fxFlex.lt-md="30%">Dashboard</span>
    <div fxFlex = "90%" fxFlex.lt-md="70%" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md = "end center">
        <div class="left-menu" fxLayout ="row" >
            <button mat-button>Opcion 1</button>
            <button mat-button>Opcion 2</button>
        </div>
        <div class="right-menu" fxHide.lt-md>
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
            
            <button mat-button>
                <mat-icon aria-hidden="false" aria-label="Example home icon">extension</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>